{% extends "@Entity/index2.html.twig" %}
{% block iconUser %}
{% endblock %}
{% block Body %}
<body>
<div class="container">

    <div class="nk-store nk-store-checkout">
        <br>
        <br>
        <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Inscription</span> </span></h3>

        <!-- START: Billing Details -->
        <div class="nk-gap"></div>
        {% block fos_user_content2 %}

        {% endblock fos_user_content2 %}
    </div>
</div>
{% block footer %}

{% endblock %}
</body>
{% endblock %}
